article{display:-none;clear:both;height:auto;}
article ul{padding-left:0 !important;}
article{padding-bottom:55px;}
article a{display:block}
article li{height:274px;width:254px;padding: 0 20px 0 30px;}	
