<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CardIndexServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.CardIndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CardServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.CardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumIndexServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.AlbumIndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DDProvideServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.DDProvideServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumDetailServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.AlbumDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumChildServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.AlbumChildServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumVoiceServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.AlbumVoiceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AlbumCommentServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.AlbumCommentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecordAlbumCommServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.RecordAlbumCommServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CardChildServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.CardChildServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CardEnServlet</servlet-name>
		<servlet-class>com.ddxx.servlet.CardEnServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CardIndexServlet</servlet-name>
		<url-pattern>/CardIndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardServlet</servlet-name>
		<url-pattern>/CardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumIndexServlet</servlet-name>
		<url-pattern>/AlbumIndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DDProvideServlet</servlet-name>
		<url-pattern>/DDProvideServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumDetailServlet</servlet-name>
		<url-pattern>/AlbumDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumChildServlet</servlet-name>
		<url-pattern>/AlbumChildServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumVoiceServlet</servlet-name>
		<url-pattern>/AlbumVoiceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AlbumCommentServlet</servlet-name>
		<url-pattern>/AlbumCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordAlbumCommServlet</servlet-name>
		<url-pattern>/RecordAlbumCommServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardChildServlet</servlet-name>
		<url-pattern>/CardChildServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardEnServlet</servlet-name>
		<url-pattern>/CardEnServlet</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/oracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
